@import "../../style_additions/fromPxToPercentage.scss";

.image-slider {
  overflow: hidden;
  // .image-slider__slide-container

  &__slide-container {
    //width: 386px;
    margin: 0 10px;
  }

  // .image-slider__slide-titel

  &__slide-titel {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-bottom: 20px;
  }

  // .image-slider__image

  &__image {
    width: 386px;
    aspect-ratio: 386 / 680;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media(max-width: 943px) {
      width: 300px;
    }
    @media(max-width: 671px) {
      width: 250px;
    }
  }

  // .image-slider__container

  &__container {
    display: flex;
    gap: 0px 82px;
  }

  // .image-slider__first-block

  &__first-block {
  }

  // .image-slider__second-block

  &__second-block {
  }

  // .image-slider__slider

  &__slider {
    width: 1605px;
    @media(max-width: 943px) {
      width: 1250px;
    }
    @media(max-width: 671px) {
      width: 1050px;
    }
    .slick-track {
    }
    .slick-list {
      margin: 0 -10px;
    }
    .slick-slide {
    }
    margin-bottom: 20px;
  }

  // .image-slider__button

  &__button {
    padding: 21px 55px;
    min-width: 386px;
    @media(max-width: 943px) {
     min-width: 301px;
    }
    @media(max-width: 671px) {
      min-width: 251px;
     }
    


  }
}
