.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1230px;
  padding: 0px 15px;
}

.wrapper {
  min-height: 100vh;
  //overflow: hidden; //выключил, чтобы у дочернего элемента заработал position: sticky
  display: flex; /* для того чтобы прибить footer к низу */
  flex-direction: column;
}

.page {
  flex: 1 1 auto; /* для того чтобы прибить footer к низу */
}

.footer {
  background-color: white;
  flex: 0 0 auto;
}
