@import "../../style_additions/clamp-builder.scss";

.collapse {
  .container-pd {
    padding-top: clampBuilder(20, 89.5);
    padding-left: clampBuilder(15, 220);
    padding-bottom: clampBuilder(20, 89.5);
  }
  // .collapse__container

  &__container {
  }

  .collapse-label {
    min-height: 121px;
    display: grid;
    grid-template-columns: 0.4fr 0.5fr 0.1fr;
    align-items: center;
    gap: 30px;

    // .collapse-label__title

    &__title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      color: #000;
      text-transform: uppercase;
    }

    // .collapse-label__description

    &__description {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: #000;
    }

    // .collapse-label__arrow

    &__arrow {
      width: 16px;
      height: 51px;
      transition: all 0.3s ease;

      &_active {
        transform: rotate(-180deg);
        transition: all 0.3s ease;
      }
    }
  }

  .collapse-content {
    overflow: hidden;//для того, чтобы работала анимация схлопывания и открытия
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #000;
    padding-right: 150px;
    padding-top: 15px;
    line-height: 1.3;
    transition: all 0.3s ease;
  }
}
