@import "../../style_additions/clamp-builder.scss";

.header {
  padding-top: 30px;

  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  // .header__logo-link

  &__logo-link {
  }
  // .header__logo

  &__logo {
    width: 120px;
    height: 50px;
  }

  // .header__content

  &__content {
    display: flex;
    @media (max-width: 831px) {
      position: absolute;
      transform: translateX(-100%);
      padding: 14px;
      height: 100vh;
      top: 90px;
      left: 0;
      flex-direction: column;
      z-index: 10;
      background-color: white;
      gap: 30px 0px;
      transition: transform 0.3s ease-in-out;
      &_active {
        transform: translateX(0);
      }
    }
  }

  // .header__title

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clampBuilder(12, 14);
    color: var(--black);
    text-transform: uppercase;
    margin-right: clampBuilder(10, 131);
    flex: 1 0 auto;
    @media (max-width: 831px) {
      flex: 0 1 auto;
      margin-right: 0px;
      font-size: 14px;
    }
  }

  // .header__navigation

  &__navigation {
    margin-right: clampBuilder(10, 186);
    flex: 1 0 auto;
    @media (max-width: 831px) {
      flex: 0 1 auto;
      margin-right: 0px;
    }
  }

  // .header__list-navigation

  &__list-navigation {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    @media (max-width: 831px) {
      gap: 20px 0px;
    }
  }

  // .header__list-item

  &__list-item {
    font-size: clampBuilder(11, 12);
    @media (max-width: 831px) {
      font-size: 13px;
    }
  }

  // .header__additional-navigation

  &__additional-navigation {
  }

  // .header__additional-navigation-list

  &__additional-navigation-list {
    display: flex;
    gap: 0px 20px;
  }

  // .header__additional-list-item

  &__additional-list-item {
    font-size: 12px;
  }

  // .header__additional-list-img

  &__additional-list-img {
    width: 24px;
    height: 24px;
  }
}

  
